<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Meme</title>
</head>
<body>
    <h1>Add a Meme</h1>
    <form action="/insertmeme" method="POST">
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="text" name="meme_url" placeholder="Meme's URL"><br><br>
        <input type="submit" value="Submit Meme">
    </form>
    <table>
        {% for m in memes %}
        <tr>
            <td>
                <h3>{{m.name}}'s Meme</h3>
                <img src="{{m.meme_url}}" width="400"><br>
                <a href="/edit/{{m.id}}">Edit</a>
                <a href="/delete/{{m.id}}">Delete</a>
                <hr>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>